# def num obj per page
PER_PAGES = 6

SECRET_KEY = 'Super Secret key no one knows'
DEBUG = 1
#"import string as s;from random import SystemRandom as sr;print(''.join(sr().choices(s.ascii_letters + s.punctuation, k=64)))"


# Database settings
# Sqlite
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = "./db.sqlite3"

# Postgres
# DATABASE_ENGINE='django.db.backends.postgresql'
# DATABASE_NAME="basededados"

DATABASE_USER = "usuario"
DATABASE_PASSWORD = "senha"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"