# def num obj per page
PER_PAGES = 6

SECRET_KEY = 'Super Secret key no one knows'
DEBUG = 1
#"import string as s;from random import SystemRandom as sr;print(''.join(sr().choices(s.ascii_letters + s.punctuation, k=64)))"